<!DOCTYPE html>
<html>
<head>
    <title>About Project</title>
</head>

<body style="background:black;color:white;font-family:Arial;text-align:center;padding-top:100px;">

    <h1>About This Project</h1>

    <p>
        This project is an Advanced Intrusion Detection and
        Web Protection System developed using Python and Flask.
    </p>

    <p>
        It detects suspicious attacks, blocks malicious users,
        and protects the web application.
    </p>

    <br>

    <a href="/dashboard" style="color:cyan;">
        Back to Dashboard
    </a>

</body>
</html>
