<!DOCTYPE html>
<html>
<head>
    <title>Attack Logs</title>
</head>

<body style="background:#111827;color:white;font-family:Arial;text-align:center;padding-top:100px;">

    <h1>Attack Logs</h1>

    <table border="1" align="center" cellpadding="10">

        <tr>
            <th>IP Address</th>
            <th>Attack Type</th>
            <th>Status</th>
        </tr>

        <tr>
            <td>192.168.1.10</td>
            <td>SQL Injection</td>
            <td>Blocked</td>
        </tr>

        <tr>
            <td>10.0.0.15</td>
            <td>DDoS Attempt</td>
            <td>Detected</td>
        </tr>

    </table>

    <br><br>

    <a href="/dashboard" style="color:cyan;">
        Back to Dashboard
    </a>

</body>
</html>
