<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>

    <style>

        body{
            background:#111827;
            color:white;
            font-family:Arial;
            text-align:center;
            padding-top:100px;
        }

        a{
            color:cyan;
            text-decoration:none;
            font-size:20px;
        }

        .box{
            background:#1f2937;
            width:400px;
            margin:auto;
            padding:30px;
            border-radius:10px;
        }

    </style>

</head>

<body>

    <div class="box">

        <h1>Intrusion Detection Dashboard</h1>

        <p>Advanced Web Protection System</p>

        <br>

        <a href="/dashboard">Dashboard</a><br><br>

        <a href="/">Logout</a>

    </div>

</body>
</html>
